{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "verifyConditionsCmd": "./semantic-release-scripts/verify.sh",
                "publishCmd": "./semantic-release-scripts/publish.sh ${nextRelease.version} ${options.branch} ${commits.length} ${Date.now()}"
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/github"
    ]
}
